
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #471149;
}

.agradecimento h3{
  color: white;
}

#painel {
  padding-top: 0px;
}

#edital {
  float: left;
  margin: 5px 0px 0 20px;
  box-sizing: border-box;
  height: 25px;
}

h3 {
  padding-bottom: 1px;
  padding-top: 0px;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #f35b3f;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

h4 {
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 26px;
}

img { max-width: 100%; }

::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }
::selection { background: #f35b3f; color: #fff; text-shadow: none; }


/***** Top menu *****/

/***** Top content *****/

.top-content { padding: 40px 0 150px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }
.top-content .description { margin: 20px 0 10px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; }
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box { padding-top: 40px; }

.f1 {
	padding: 25px; background: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px; }

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #ddd; }
.f1-progress-line { position: absolute; top: 0; left: 0; height: 1px; background: #471149; }

.f1-step { position: relative; float: left; width: 33.333333%; padding: 0 5px; }

.f1-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #ddd;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
	background: #fff; border: 1px solid #471149; color: #471149; line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 48px; height: 48px; margin-top: 0; background: #471149; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #ccc; }
.f1-step.activated p { color: black; }
.f1-step.active p { color: black; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: right; }

.f1 .input-error { border-color: #f35b3f; }



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.top-content { padding: 40px 0 110px 0; }

  #edital {
    padding: 0px 0px 15px 0;
    width: 100%;
    text-align: center;
  }

  .container img {
    max-height: 10%;
    width: 20% !important;
  }

  .f1-step p {
    line-height: 20px;
  }

  input[type="text"],
  textarea,
  textarea.form-control {
  font-size: 12px;
  }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }
  h6 { font-size: 0.8em; line-height: 15px;}

	.f1 { padding-bottom: 20px;}
	.f1-buttons button {
    margin-bottom: 5px;
  }

  #edital {
    padding: 0px 0px 15px 0;
    width: 100%;
    text-align: center;
  }

  .container img {
    max-height: 10%;
    width: 20% !important;
  }

  .f1-step p {
    line-height: 20px;

  }



}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 162px 36px !important;
    }

}
